<p id="notice"><%= notice %></p>

<h1>Afternoons</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
       <th>Date</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
  <%= render @afternoons %>
  </tbody>
</table>

<br>

<%= link_to 'New Afternoon', new_afternoon_path %>
