<div class="col-sm-8 blog-main">

  <h2><%= @afternoon.title %></h2>

  <%= link_to 'Edit', edit_afternoon_path(@afternoon) if logged_in?(:site_admin) %>

  <p>
    <%= @afternoon.body %>
  </p>

</div>

