<!-- start of sidebar -->
<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module">
    <h4>Topics</h4>
    <ol class="list-unstyled">
      <li><a href="#">March</a></li>
      <li><a href="#">February</a></li>
      <li><a href="#">January</a></li>
      <li><a href="#">December</a></li>
      <li><a href="#">November</a></li>
      <li><a href="#">October</a></li>
      <li><a href="#">September</a></li>
      <li><a href="#">August</a></li>
      <li><a href="#">July</a></li>
      <li><a href="#">June</a></li>
      <li><a href="#">May</a></li>
      <li><a href="#">April</a></li>
    </ol>

    <div class="sidebar-module sidebar-module-inset">
    <%= render "shared/google_ad" %>
    </div>

        <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
  <div class="sidebar-module">
 
<!-- end of sidebar -->