<!-- start of sidebar -->
<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module">
    <h4>Topics</h4>

    <div class="sidebar-module sidebar-module-inset">
    <%= render "shared/google_ad" %>
    </div>

        <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
  <div class="sidebar-module">
 
<!-- end of sidebar -->