<div id='adsense1'>
	<script async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'></script>
<!-- Bloque adaptable comodin -->
	<ins class='adsbygoogle'
      style='display:block'
      data-ad-client='ca-pub-1186760826623337'
      data-ad-slot='8157470171'
      data-ad-format='auto'></ins>
	
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
