<div class="middle">
    <h1>LETS STAY CONNECTED</h1>
        </div>
    <div class="line">
        <hr>
  </div>

    <div class="social">
    <a href="https://twitter.com/hqtrivia?lang=en" target="_blank" class="fa fa-twitter"></a>
    <a href="https://www.facebook.com/HQHQHQHQHQHQ/" target="_blank" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/hq_trivia/?hl=en" target="_blank" class="fa fa-instagram"></a>
    </div>

 <div class="container-bottom">
   <%= render "shared/google_ad" %>
  </div>