<div class="cover-container">
	
<span data-text="H"></span>
<span data-text="Q"></span>
<span data-text="-"></span>
<span data-text="T"></span>
<span data-text="R"></span>
<span data-text="I"></span>
<span data-text="V"></span>
<span data-text="I"></span>
<span data-text="A"></span>
  </div>
  <div class="inner">
  <p class="lead">
   <%= link_to "Afternoon Questions", afternoons_path, class: "btn btn-lg btn-primary" %>
   <%= link_to "Evening Questions", afternoons_path, class: "btn btn-lg btn-danger" %>
  </p>
  </div>


